.text{

    margin-left: auto;
    padding:2rem 0rem;
    align-items: flex-end;

    & > a:not(:last-child) {
        margin-right: 3rem;
    }
    span{
        color: black;
        font-weight: bolder;

    }
    img{

        width: 3rem;
        object-fit: contain;
    }
    
}
.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.1);
    background-color: #3f67e9;
 
}
@media screen and (max-width: 600px) {
    .text{
  
      align-items: normal;
    }
    }
